@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #0A1E42, #1D335C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px #040d1d;
    width: 600px;
    padding: 15px;
    margin: auto;
}

h1 {
    color: #15408F;
    text-align: center;
    text-shadow: 1px 1px 2px #0d255393;
}

h2 {
    color: #1D57C2;
}

p {
    text-align: justify;
}